@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

Body {
    font-family: "poppins", sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 100px; 
}

nav {
    display: flex;
    align-items: center;
    gap: 57px;
}

.main1 {
    display: flex;
    gap: 35px;
    font-size: 21px;
}

.main1 a {
    padding-bottom: 4px;
    color: #000000;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 428px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
    display: none;
    flex-direction: column;
    align-items: flex-end;
}

.sidebar a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}

.bar {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    padding: 25px 8px 0;
}

.bar img {
    width: 28px;
    height: 28px;
}

.main2 {
    display: flex;
    margin-bottom: 16px;
    gap: 78px;
}

.hamburger {
    display: none;
}

.container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    color: #000000;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #000000;
}

input {
    width: 818px;
    height: 62px;
    border: 1px solid #A0A0A0;
    font-size: 20px;
    font-weight: 400;
    padding-left: 16px;
    color: #000000;
    font-family: "poppins", sans-serif;
}

input::placeholder {
    color: #000000;
}

textarea {
    width: 802px;
    height: 280px;
    border: 1px solid #A0A0A0;
    font-size: 20px;
    font-weight: 400;
    padding: 16px;
    color: #000000;
    font-family: "poppins", sans-serif;
    resize: none;
}

textarea::placeholder {
    color: #000000;
}

button {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    width: 233px;
    height: 64px;
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid #000000;
    font-size: 22px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.container3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 150px 0 0 100px;
}

.plum {
    font-size: 20px;
    font-weight: 300;
    color: #000000;
}

span {
    font-size: 14px;
    font-weight: 300;
    color: #000000;
}

.num {
    font-size: 14px;
    font-weight: 300;
    color: #000000;
}

.footerhead {
    display: flex;
    padding: 190px 100px 100px;
    gap: 300px;
}

.foot1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ab {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}

.foot11 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foot11 p {
    font-size: 15px;
    font-size: 15px;
    font-weight: 300;
    color: #000000;
}

.every {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #0000001A;
    padding: 50px 100px;
}

.spa {
    display: flex;
    align-items: center;
    gap: 30px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 3px;
    padding-top: 8px;
}

.brand p {
    font-size: 12px;
    font-weight: 300;
    color: #000000;
    padding-top: 3px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 50px;
}

@media(max-width: 428px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
        gap: 0;
    }

    .firstimg {
        max-width: 83%;
        height: auto;
    }

    .main1,
    .main2 {
        display: none;
    }

    .hamburger {
        display: block;
        max-width: 29px;
        height: 29px;
    }

    .container1 {
        gap: 20px;
    }

    .container1 h1 {
        font-size: 30px;
        font-weight: 600;
    }

    input,
    textarea {
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        margin: 0 100px 0 0;
        padding-left: 13px;
    }

    textarea {
        height: 150px;
        resize: none;
        box-sizing: border-box;
        padding-top: 5px;
    }

    button {
        width: auto;
        height: 50px;
        padding: 8px;
        font-size: 17px;
        letter-spacing: 1px;
    }

    .container3 {
        padding: 90px 0 0 20px;
    }

    .footerhead {
        flex-direction: column;
        gap: 40px;
        padding: 100px 20px 75px;
    }

    .foot1 {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .foot11 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .every {
       flex-direction: column;
       align-items: start;
       gap: 15px;
       padding: 25px 20px 30px;
    }

    .secimg {
        max-width: 40%;
        height: auto;
    }

    .spa {
        gap: 18px;
    }
    
    .logo,
    .go {
        gap: 15px;
        max-width: 24%;
        height: auto;
    }
}