@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

Body {
    font-family: "poppins", sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    background-image: url(image/Rectangle\ 88.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 118vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 100px 0;
}

.main {
    display: flex;
    align-items: center;
    gap: 57px;
}

.main1 {
    display: flex;
    gap: 35px;
    font-size: 21px;
}

.main1 a {
    padding-top: 4px;
    color: #D9D9D9;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 428px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
    display: none;
    flex-direction: column;
    align-items: flex-end;
}

.sidebar a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.bar {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    padding: 25px 8px 0;
}

.main2 {
    display: flex;
    gap: 78px;
}

.hamburger{
    display: none;
}

.main3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    padding-top: 190px;
}

.main3 h1 {
    line-height: 1.4;
    font-weight: 400;
    font-size: 75px;
    color: #FFFFFF;
    text-align: center;
}

.main3 p {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    width: 210px;
    height: 43px;
    padding: 12px 24px;
    color: #FFFFFF;
    font-size: 26px;
}

.top {
    font-size: 30px;
    font-weight: 500;
    padding-top: 100px;
    padding-left: 105px;
    color: #000000;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 50px 100px 0px;
    gap: 30px;
    row-gap: 60px;
}
.cont1 {
    overflow: hidden;
}

.cont1 img {
    width: 100%;
    height: auto; 
}

.cont2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;   
}

.ply {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.num {
    font-size: 22px;
    font-weight: 600;
    color: #000000;
}

.star {
    width: 115px;
    height: 18px;
    padding-top: 20px;
}

.cont3 {
    display: flex;
    gap: 24px;
    padding-top: 30px;
}

.buy {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    width: 187px;
    height: 54px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #000000;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-color: #000000;
    width: 187px;
    height: 53px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    background-color: #FFFFFF;
}

.container11 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 110px;
}

.container2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container2 h2 {
    display: flex;
    justify-content: start;
    font-size: 46px;
    font-weight: 500;
    padding-top: 100px;
    padding-left: 105px;
    color: #000000;
}

.cont4 {
    display: flex;
    flex-direction: column;
    background-image: url(image/Rectangle\ 56.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 595px;
}

.cont5 {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 25px;
    padding-top: 117px;
    padding-left: 213px;
}

.cont5 h1 {
    font-weight: 400;
    font-size: 56px;
    color: #FFFFFF;
}

.exo {
    color: #FFFFFF;
    font-size: 24px;
}

.exn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    width: 142px;
    height: 36px;
    padding: 12px 32px;
    color: #FFFFFF;
    font-size: 24px;
}

.cont6 {
    display: flex;
    flex-direction: column;
    background-image: url(image/image\ 35.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 694px;
}

.cont7 {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 25px;
    padding-top: 127px;
    padding-left: 808px;
}

.cont7 h1 {
    font-weight: 400;
    font-size: 56px;
    color: #FFFFFF;
}

span {
    padding-left: 5px;
}

.cont8 {
    display: flex;
    flex-direction: column;
    background-image: url(image/Rectangle\ 87.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 654px;
}

.cont9 {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 25px;
    padding-top: 130px;
    padding-left: 150px;
}

.cont9 h1 {
    font-weight: 400;
    font-size: 56px;
    color: #FFFFFF;
}

.footerhead {
    display: flex;
    padding: 170px 100px 100px;
    gap: 300px;
}

.foot1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ab {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}

.foot11 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foot11 p {
    font-size: 15px;
    font-size: 15px;
    font-weight: 300;
    color: #000000;
}

.every {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #0000001A;
    padding: 50px 100px;
}

.spa {
    display: flex;
    align-items: center;
    gap: 30px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 3px;
    padding-top: 8px;
}

.brand p {
    font-size: 12px;
    font-weight: 300;
    color: #00000094;
    padding-top: 3px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 50px;
}

@media(max-width:428px) {

    header {
        max-width: 100%;
        height: 280px;
    }
  
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px 0;
        gap: 0;
    }

    .firstimg {
        max-width: 83%;
        height: auto;
    }

    .main1,
    .main2 {
        display: none;
    }

    .hamburger {
        display: block;
        max-width: 29px;
        height: 29px;
    }

    .main3 {
        padding-top: 33px;
        gap: 20px;
    }

    .main3 h1 {
        font-size: 25px;
    }
    
    .main3 p {
        width: 105px;
        height: 20px;
        padding: 5px 10px;
        font-size: 14px;
    }

    .top {
        font-size: 22px;
        padding-top: 50px;
        padding-left: 19%;
    }

    .container1 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 35px;
        row-gap: 48px;
        padding: 20px 20px 0;
    }

    .cont2{
        padding-top: 12px;
    }

    .star {
        padding-top: 8px;
    }

    .cont3{
        display: flex;
        gap: 8px;
        padding-top: 20px;
    }

    .container11 {
        gap: 55px;
    }

    .container2 {
        gap: 10px;
    }

    .container2 h2 {
        font-size: 33px;
        font-weight: 600;
        padding-top: 50px;
    }

    .cont4 {
        max-width: 100%;
        height: 260px;
    }

    .cont5 {
        gap: 13px;
        padding-top: 25px;
        padding-left: 18px;
    }

    .cont5 h1,
    .cont7 h1,
    .cont9 h1 {
        font-size: 23px;
    }

    .exo {
        font-size: 15px;
    }

    .exn {
        width: 100px;
        height: 20px;
        padding: 5px 10px;
        font-size: 13px;
    }

    .cont6 {
        max-width: 100%;
        height: 250px;
    }

    .cont7 {
        gap: 13px;
        padding-top: 45px;
        padding-left: 195px;
    }

    .cont8 {
        max-width: 100%;
        height: 250px;
    }

    .cont9 {
        gap: 25px;
        padding-top: 60px;
        padding-left: 18px;
    }

    .footerhead {
        flex-direction: column;
        gap: 40px;
        padding: 100px 20px 75px;
    }

    .foot1 {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .foot11 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .every {
       flex-direction: column;
       align-items: start;
       gap: 15px;
       padding: 25px 20px 30px;
    }

    .secimg {
        max-width: 40%;
        height: auto;
    }

    .spa {
        gap: 18px;
    }
    
    .logo,
    .go {
        gap: 15px;
        max-width: 24%;
        height: auto;
    }

}